.container {
  max-width: 48rem;
  margin: 0 auto;
}

.weatherContainer {
  border: solid 1px var(--card-border-color);
  border-radius: 0.5rem;
}

.footerContainer {
  margin-top: 2rem;
}

.cityPanel {
  padding: 2rem;
  display: flex;
  align-items: center;
  height: 8rem;
  background-color: var(--card-primary-bg);
  border-bottom: solid 1px var(--card-border-color);
  justify-content: space-between;

  &:last-of-type {
    border-radius: 0 0 0.5rem 0.5rem;
  }

  &:first-of-type {
    border-radius: 0.5rem 0.5rem 0 0;
  }

  & > :first-child {
    flex: 1;
    display: flex;
  }

  & > * {
    margin: 1em;
  }
}
