.header {
  display: grid;
  font: inherit;
  padding: 15px 25px;
  grid-column-gap: 0;
  grid-row-gap: 0;
  align-items: stretch;
  justify-items: stretch;
  justify-content: stretch;
  width: 100%;
  border: none;
  align-content: stretch;
  grid-template-columns: 1fr 1fr 1.5fr 0.5fr;
  grid-template-rows: 1fr 1fr 1fr;
  transition: border-radius ease 0.5s;
  border-bottom: solid 1px var(--card-border-color);
  grid-template-areas:
    "day icon temperature handle"
    "day icon temperature handle"
    "date icon forecast handle";

  & > * {
    display: flex;
  }

  &:last-of-type {
    border: none;
    &[data-open="true"] {
      border-radius: 0;
    }
  }

  &:first-of-type {
    border-radius: 0.5rem 0.5rem 0 0;
  }
}

.weatherDay {
  grid-area: day;
}

.weatherDate {
  margin: inherit;
  grid-area: date;
}

.weatherIcon {
  grid-area: icon;
  align-self: center;
  justify-self: center;
}

.weatherTemperature {
  grid-area: temperature;
  font-size: 3rem;
  align-items: flex-end;
  justify-items: flex-end;
  font-weight: 300;
  line-height: 1;
}

.weatherTemperatureMin {
  font-size: 1.25rem;
  line-height: 1;
}

.weatherForecast {
  grid-area: forecast;
}

.weatherHandle {
  grid-area: forecast;
}
