.header {
  background: var(--card-details-color);
  display: grid;
  padding: 15px 25px;
  grid-column-gap: 0;
  grid-row-gap: 0;
  align-items: stretch;
  justify-items: stretch;
  justify-content: stretch;
  width: 100%;
  align-content: stretch;
  grid-template-columns: 1fr 1.5fr 1fr 0.5fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "part icon temperature arrow"
    "part icon temperature arrow"
    "time icon forecast arrow";

  & > * {
    display: flex;
  }
}

.weatherTime {
  grid-area: time;
}

.weatherPart {
  grid-area: part;
  text-transform: capitalize;
}

.weatherTemperature {
  grid-area: temperature;
  font-size: 3rem;
  align-items: flex-end;
  justify-items: flex-end;
  font-weight: 300;
  line-height: 1;
}

.weatherIcon {
  grid-area: icon;
  align-self: center;
  justify-self: center;
}

.weatherTemperatureMin {
  font-size: 1.25rem;
  line-height: 1;
}

.weatherForecast {
  grid-area: forecast;
}

.transition {
  overflow: hidden;
  max-height: 0;
  transition: max-height ease 0.5s;

  &:last-of-type {
    border-radius: 0 0 0.5rem 0.5rem;
    &[data-open="true"] {
      border-radius: 0;
    }
  }
}
