.page {
    padding: 80px;
    font-family: var(--font-geist-sans);
}


.section {
    margin: 30px 0;
}

.orderedList {
    > li {
        margin: 10px 0;
    }
}

@media (max-width: 600px) {
    .page {
        padding: 32px;
        padding-bottom: 80px;
    }
}

