.container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;

  & > * {
    align-self: center;
  }
}

.title {
  font-size: 2rem;
  font-weight: bold;
  color: var(--foreground);
  padding: 1rem 0;
}
